extends ../template/layout

block content
  .row
    .small-12.columns
      h1#top Songs Page
  .row
    .small-12.columns
      #songs
        each song in songs
          .song
            h3= song.title
            img.album.clear(src=song.art)
            p= song.duration
            p= song.lyrics
            audio(src='audios/#{song.filename}', controls=true)
            ul
              each genre in song.genres
                li= genre
            p= song.createdAt
            form(action='/songs/#{song.id}', method='post')
              input(type='hidden', name='_method', value='delete')
              button.tiny.radius.alert(type='submit') Delete
              .row
                .small-12.columns
                  a.button.tiny.radius.expand#titleButton(href='/songs/#{song.id}')= song.title