extends ../template/layout

block content
  .row
    .small-12.columns
      h1.subheader= post.title
  .row
    .small-2.columns
      a.button.expand.tiny.radius(href='/') Home
    .small-2.columns
      a.button.expand.tiny.radius(href='/posts') Posts
    .small-2.columns
      a.button.expand.tiny.radius.success(href='/posts/new') New
    .small-2.columns
      form(action='/posts/#{post.id}', method='post')
        input(type='hidden', name='_method', value='delete')
        button.expand.tiny.radius.alert(type='submit') Delete
    .small-4.columns
  .row
    .small-12.columns
      table.post
        thead
          tr.post
            th Title
            th Author
            th Date
            th Tags
        tbody
          tr.post
            td= post.title
            td= post.author
            td= post.date
            td= post.tags
  .row
    .small-4.columns
      img(src=post.image)
    .small-8.columns
      p.content= post.content